name: CI

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev
env:
  DEVELOPER_DIR: /Applications/Xcode_11.3.app/Contents/Developer
  PROJECT: ReactiveCollectionsKit.xcodeproj
  SCHEME: ReactiveCollectionsKit
  IOS_SDK: iphonesimulator13.3

jobs:

  iOS:
    name: iOS Test
    runs-on: macOS-latest
    strategy:
      matrix:
        destination: ["OS=13.3,name=iPhone 11"]
    steps:
      - name: git checkout
        uses: actions/checkout@v1

      - name: bundle install
        run: bundle install --without=documentation

      - name: xcode version
        run: xcodebuild -version -sdk

      - name: list simulators
        run: xcrun simctl list

      - name: pod lint
        run: bundle exec pod lib lint --allow-warnings # TODO: REMOVE "allow-warnings"

      - name: iOS - ${{ matrix.destination }}
        run: |
          set -o pipefail
          xcodebuild clean test -project "$PROJECT" -scheme "$SCHEME" -sdk "$IOS_SDK" -destination "${{ matrix.destination }}" -enableCodeCoverage YES -configuration Debug ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO | bundle exec xcpretty -c;
