# GitHub Actions Virtual Environments
# https://github.com/actions/virtual-environments/

name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PROJECT: ReactiveCollectionsKit.xcodeproj
  SCHEME: ReactiveCollectionsKit

  EXAMPLE_PROJECT: Example/ExampleApp.xcodeproj
  EXAMPLE_SCHEME: ExampleApp

  DEVELOPER_DIR: /Applications/Xcode_16.4.app/Contents/Developer

  IOS_DEST: "platform=iOS Simulator,name=iPhone 16,OS=latest"

jobs:
  env-details:
    name: Environment details
    runs-on: macos-15
    steps:
      - name: xcode version
        run: xcodebuild -version -sdk

      - name: list simulators
        run: |
          xcrun simctl delete unavailable
          xcrun simctl list

  test-iOS:
    name: iOS unit test
    runs-on: macos-15
    steps:
      - name: git checkout
        uses: actions/checkout@v5

      - name: unit tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -destination "$IOS_DEST" \
              CODE_SIGN_IDENTITY="-" | xcpretty -c

  ui-test-iOS:
    name: iOS UI tests
    runs-on: macos-15
    steps:
      - name: git checkout
        uses: actions/checkout@v5

      - name: ui tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$EXAMPLE_PROJECT" \
              -scheme "$EXAMPLE_SCHEME" \
              -destination "$IOS_DEST" \
              CODE_SIGN_IDENTITY="-" | xcpretty -c
